* {
    margin: 0;
    padding: 0;
}

body {
    grid-template-rows: auto;
    background-color: #000;
    background-image: none;
}

.actions {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  margin: auto;
  width: 50%;
  min-width: 200px;
  max-width: 500px;
  height: 90vh;
  max-height: 600px;
  border: 2px solid #ff0;
  box-sizing: border-box;
}

.actions button {
  color: #ff0;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  border: 2px solid #ff0;
  padding: 1rem 1.5rem;
  background-color: #0000;
  min-width: 50%;
  cursor: pointer;
}

@media (max-width: 700px) {
  .actions {
    width: 100%;
    max-width: auto;
  }
  .actions button {
    min-width: 80%;
  }
}
